

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  /* width: 100%; */
  transition:color 0.5s,background-color 0.5s;
  line-height: 1.6;
  color: #8181A5;
  background-color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.inputs{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
}

.bg {
  background-color: #f0f0f0 !important;
}

.green{
  color:white !important;
  background-color: #4C956C !important;
  border: #4C956C !important;
}

.text-grayed {
  color: #A0A3BD !important;
  font-size: 15px !important;
}
.size-15 {
  font-size: 15px !important;
}

.size-18 {
  font-size: 18px !important;
}
